@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
}
/*CSS for HTML Tags*/
ul {
	list-style: none;
	font-weight: 500;
}
form {
	width: 300px;
	margin: 2rem auto;
}

h1 {
	font-size: 2rem;
}
li {
	margin: auto 1rem;
}
input,
input[type='text'],
select {
	box-shadow: 0.5rem 0.5rem 2rem grey;
	border: 0;
}
/*CSS classes*/
.padding0_5 {
	padding: 0.5rem;
}
.margin1_0 {
	margin: 1rem 0;
}
.displayNone {
	display: none;
}
.displayBlock {
	display: block;
}
.center {
	margin: 0 auto;
}
.colorLightBlue {
	background-color: #6ea4eb;
}
.colorDanger {
	background-color: #ff66667a;
}
.width50 {
	width: 50%;
}
.cardContainer {
	margin: 2rem auto;
	border: 3px solid #6ea4eb;
	border-radius: 1rem;
	width: 50%;
	line-height: 3rem;
}
.shadow {
	box-shadow: 0rem 0rem 1rem grey;
}
.flexDisplay {
	display: flex;
}
.flexDisplayColumn {
	display: flex;
	flex-direction: column;
}
.justifySpaceBetween {
	justify-content: space-between;
}
.justifyCenter {
	justify-content: center;
}
.colorWhite {
	color: white;
}
.colorBlack {
	color: black;
}
.alignItemsCenter {
	align-items: center;
}
.pointer {
	cursor: pointer;
}
.btn {
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	transition: all 0.2s ease-in;
	border: 0;
}
.btn:hover {
	cursor: pointer;
}
.btn-white {
	background-color: white;
}
.btn-white:hover {
	background-color: black;
	color: white;
}

.btn-theme {
	background-color: #6ea4eb;
}
.btn-theme:hover {
	border: 2px solid #6ea4eb;
	background-color: white;
	color: #6ea4eb;
}
.fontSize2_5 {
	font-size: 2.5rem;
}
.fontSize1_5 {
	font-size: 1.5rem;
}
.fontWeight200 {
	font-weight: 200;
}
.fontWeight400 {
	font-weight: 400;
}
.fontWeight500 {
	font-weight: 500;
}
.margin2 {
	margin: 2rem;
}
.padding2 {
	padding: 2rem;
}
.padding1 {
	padding: 1rem;
}
.flexWrap {
	flex-wrap: wrap;
}
.ap-name,
.ap-name em {
	font-size: 1.5rem;
}
/*CSS IDs*/
#spinnerContainer {
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
}
#spinner {
	height: 2rem;
	width: 20rem;
	position: relative;
	background-color: #6ea4eb;
	box-shadow: 0rem 0rem 4rem white;
}
#spinner::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 2rem;
	left: 0;
	top: 0;
	box-shadow: 0rem 0rem 4rem black;
	background-color: white;
	animation: swipeEffect 0.5s infinite;
}
/*Keyframes for Animations*/

@keyframes swipeEffect {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(19rem, 0px);
	}
}
/*Media queries*/
